# created by virtualenv automatically
pyenv.cfg
bin
languageIdentificationData
cisi
cisi_collection
lib/*
output_*
RI-tknx-data
test
*.csv
.ipynb_checkpoints
test-collection
programs
*.zip
recollectiontest-RI-UNLu